<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <proxies>
        <proxy>
            <id>malib_proxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.host.net</host>
            <port>8080</port>
            <username>linh.vu@logixtek</username>
            <password>linhvu@logixtek</password>
            <nonProxyHosts>https://repo.maven.apache.org/maven2/*</nonProxyHosts>
        </proxy>
    </proxies>

<!--    <localRepository>/root/.m2/repository</localRepository>-->
<!--    <interactiveMode>true</interactiveMode>-->
<!--    <usePluginRegistry>false</usePluginRegistry>-->
<!--    <offline>false</offline>-->

</settings>
